@model IEnumerable<GasStationData.Models.MType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
